<!-- Head html -->
<div th:replace="frags/frags :: headFragment"></div>

<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center mt-4">Che voglia di pizza....</h1>
            <div th:replace="frags/frags :: searchFrag"></div>
            <div class="col-2 ">
                <a href="/pizza/create">
                    <button class="btn btn-warning ms-2" type="button">Add pizzza</button>
                </a>
            </div>
            <div class="col">
                <div class="d-flex flex-wrap justify-content-center">
                    <div th:if="${pizze.isEmpty()}">
                        <h1>ma non sono sold out</h1>
                    </div>
                    <div class="m-3" th:each="pizza : ${pizze}">
                        <div class="card" style="width: 18rem;">
                            <img th:src="${pizza.getFoto()}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5>[[${pizza.getName()}]]</h5>
                                <p class="card-text">[[${pizza.getDescription()}]]</p>
                                <h5 th:text="|${#numbers.formatDecimal(pizza.getPrice(), 1, 2)}$|"></h5>
                                <a th:href="@{/pizza/{pizzaId}(pizzaId=${pizza.getId()})}" class="btn btn-primary">Vedi
                                    la pizza</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>